html,
body{
	height: 100%;
	width: 100%;
	font-size: 14px;
}

.form-control,
.custom-select{
	border-radius: 0px !important;
}

.selectize-input{
	font-size: 14px;
}

a{
	color: white;
}


a:hover,
a:visited,
a:focus{
	text-transform: none;
	color: white;
	text-decoration: none;
}

.dropdown-item:active{
	text-decoration: none;
	background-color: transparent !important;
}

label{
	font-weight: 700;
	text-transform: uppercase;
}
.btn{
	border-radius: 0px !important;
	cursor: pointer;
}

.navbar{
	padding: 0;

}

.navbar .dropdown-item{
	color: black !important;
}

.navbar .navbar-brand{
	padding: 15px 15px;
	font-weight: 700;
	margin-right: 0;
	font-size: 14px;
	text-align: center;
}

.navbar .dropdown-toggle{
	margin: 0;
	padding: 19px 10px 10px;
}

.navbar .dropdown-toggle{
	position: relative;
}


.navbar #notifications::after {
    display:none
}

.navbar .badge{
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight:700;
	padding: 3px 6px;
	border-radius: 12px !important;
	font-size: 11px !important;
	background-color: #DA4453;
}

.dropdown{
	margin-right: 20px;
}

.dropdown-toggle{
	font-weight: 700;
}

#user-form{
	right: 0;
	left: initial;
	border-radius: 0;
}

#recent-withdraw{
	left:230px;
	border-radius: 0;
	margin-top:-10px;
	padding: 0;
}
	#recent-withdraw .dropdown-item{
		padding: 10px;
		border-top: 1px solid black;
	}

.page-title{
	margin: 34px 0 17px;
}

.input-col .form-control{
	min-width: 20px;
}

.bg-main{
	background-color: #404b55;
	color: #fff;
}

.bg-main-light{
	background-color: #333c44;
}

.data-tables th{
	white-space: nowrap;
}

.data-tables tbody th{
	/*text-align: center;*/
}

#DataTables_Table_0_wrapper .dt-buttons{
	width: 100%;
	margin-bottom: 10px;
}

#DataTables_Table_0_wrapper .dt-buttons .dt-button{
	background-image: none;
	float: right;
}

#DataTables_Table_0_wrapper .dt-buttons .dt-button:hover{
	color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}

.notifyjs-notif-box-base{
	width: 360px;
	position: absolute;
	z-index: 10000;
	bottom: 30px;
	right: 0;
	text-align: left;
	border-radius: 5px;
	cursor: default;
	background: #0275d8!important;
	color: white;
	border-color: #0275d8 !important;
}

.notifyjs-notif-box-base a{
	height: 100%;
	width: 100%;
	display: block;
	overflow: auto;
	padding: 25px 15px;
}

.login{
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* bottom, image */
    url('/images/background.jpg');
    background-position: center;
    background-size: cover;
}

#notifications-dropdown{
	width: 24rem;
	left: auto !important;
	right: 0;
	padding: 0;
	overflow-x: hidden;
	height: auto;
	max-height: 300px;
}
	#notifications-dropdown .dropdown-header{
		border-bottom: 1px solid #e6e6e6;
		margin: 0;
	}

	#notifications-dropdown .dropdown-item{
		padding: .5rem  1rem;
		border-bottom: 1px solid #e6e6e6;
	}

	#notifications-dropdown .notif-unread{
		background-color: #efefef;
	}

	#notifications-dropdown .notif-media{
		background-color: #00BCD4 !important;
		color: #fff;
		padding: .5rem;
		border-radius: 50%;
	}

	#notifications-dropdown .notification-tag{
	    display: inline-block;
	    padding: .35em .4em;
	    font-size: 85%;
	    font-weight: 600;
	    line-height: 1;
	    color: #FFF;
	    text-align: center;
	    vertical-align: baseline;
	    border-radius: .18rem;
	    background-color: #DA4453;
	}

.dropdown-item i{
	padding: .5rem;
}

.page-title .title-small{
	font-size: 18px;
}
.wrapper{
	padding-left: 0;
}

.sidebar{
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 230px;
	margin-left: -250px;
	padding-top: 50px;
	border-top: 2px solid #333c44;
}

.sidebar-header{
	color: white;
	font-size: 14px;
	/*line-height: 60px;*/
	padding: 5px 5px 5px 25px;
}

.sidebar-header p{
	font-weight: 700;
	margin-bottom: 3px;
	padding-bottom: 0;
}

.sidebar .nav-link{
	padding: 10px 16px 10px 25px;
	text-transform: uppercase;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
	font-weight: 400;
	letter-spacing: 1px;
	color: #b8c7ce;
	transition: all 0.3s ease;
}

.sidebar .nav-item.active .nav-link{
	color: #fff;
	background: #404b55;
}

.sidebar .nav-link .fa{
	width: 20px;
}

.sidebar .nav-link:hover{
	color: #ffffff;
	background: #404b55;
}

.notification{
	background-color: red;
	padding-left: 5px;
	padding-right: 5px;
	color:white;
}

.login{
	background-color: #333;
	padding-top: 30px;
}

.login .page-title{
	color: white;
	padding: 40px 50px;
}

.login-logo{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 25px;
}

#login-form{
	display: block;
	padding: 10px 30px 30px;
	background-color: #fff;
}

.login-logo{
	color: #333;
	text-align: center;
	margin-top: 10px;
}

.login .logo{
	margin: 10px auto 0;
	margin-bottom: 30px;

}

.login-form{
	padding: 40px 50px;
}

.login-submit{
	font-weight: 700;
	margin-bottom: 10px;
	padding: 10px 20px !important;
}

.login .form-control{
	background-color: #dde3ec;
	height: 43px;
	border: 1px solid #dde3ec;
}

.login .form-control:focus{
	border: 1px solid #c3ccda;
}
.widget-holder .card{
	color: #fff;
}

.huge{
	font-weight: bold;
	font-size: 20px;
}

.content-wrapper{
	margin-left: 245px;
	padding-top: 40px;
}

.dashboard-section{
	padding-top: 15px;
}
.form-container .form-control,
.form-container #select-office{
	margin-right: 10px;
}

.table .input-col{
	max-width: 80px;
}

.table .input-col .selectize-input{
	display: block; 
	padding: 0;
	margin: 0; 
	border: 0; 
	width: 100%;
	box-shadow: none;
}

.selectize-input{
	border-radius: 0;
	min-width: 200px;
	width: 100%;
}

#withdraw-table .qty{
	border-color: transparent;
}