.login{
	background-color: #333;
	padding-top: 30px;
}

.login .page-title{
	color: white;
	padding: 40px 50px;
}

.login-logo{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 25px;
}

#login-form{
	display: block;
	padding: 10px 30px 30px;
	background-color: #fff;
}

.login-logo{
	color: #333;
	text-align: center;
	margin-top: 10px;
}

.login .logo{
	margin: 10px auto 0;
	margin-bottom: 30px;

}

.login-form{
	padding: 40px 50px;
}

.login-submit{
	font-weight: 700;
	margin-bottom: 10px;
	padding: 10px 20px !important;
}

.login .form-control{
	background-color: #dde3ec;
	height: 43px;
	border: 1px solid #dde3ec;
}

.login .form-control:focus{
	border: 1px solid #c3ccda;
}