.wrapper{
	padding-left: 0;
}

.sidebar{
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 230px;
	margin-left: -250px;
	padding-top: 50px;
	border-top: 2px solid #333c44;
}

.sidebar-header{
	color: white;
	font-size: 14px;
	/*line-height: 60px;*/
	padding: 5px 5px 5px 25px;
}

.sidebar-header p{
	font-weight: 700;
	margin-bottom: 3px;
	padding-bottom: 0;
}

.sidebar .nav-link{
	padding: 10px 16px 10px 25px;
	text-transform: uppercase;
	box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
	font-weight: 400;
	letter-spacing: 1px;
	color: #b8c7ce;
	transition: all 0.3s ease;
}

.sidebar .nav-item.active .nav-link{
	color: #fff;
	background: #404b55;
}

.sidebar .nav-link .fa{
	width: 20px;
}

.sidebar .nav-link:hover{
	color: #ffffff;
	background: #404b55;
}

.notification{
	background-color: red;
	padding-left: 5px;
	padding-right: 5px;
	color:white;
}
