.form-container .form-control,
.form-container #select-office{
	margin-right: 10px;
}

.table .input-col{
	max-width: 80px;
}

.table .input-col .selectize-input{
	display: block; 
	padding: 0;
	margin: 0; 
	border: 0; 
	width: 100%;
	box-shadow: none;
}

.selectize-input{
	border-radius: 0;
	min-width: 200px;
	width: 100%;
}

#withdraw-table .qty{
	border-color: transparent;
}